.summary {
  width: 70%;
  margin: 0 auto;
  color: white;
  font-size: 20px; }
  .summary p {
    word-wrap: break-word; }
  @media screen and (max-width: 480px) {
    .summary {
      width: 95%;
      margin: 0 20px 0 20px;
      font-size: 15px; } }
