html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #2d609b;
}

@font-face {
  font-family: CurwenSans;
  src: url("/fonts/CurwenSans.ttf");
}

h1 {
  color: white;
  text-align: center;
  font-family: CurwenSans;
}

.name {
  margin-top: 100px;
  position: absolute;
  width: 100%;
}

.main-content {
  height: 800px;
  width: 100%;
  margin-top: 500px;
  padding: 10px 0 10px 0;
  background-color: #103956;

  animation-name: color;
  animation-duration: 6.6s;
  animation-iteration-count: infinite;
}

@keyframes color {
  0% {
    background-color: #103956;
  }

  50% {
    background-color: #14496f;
  }

  100% {
    background-color: #103956;
  }
}

.featured {
  font-family: CurwenSans;
  font-size: 17px;
  font-weight: bold;
  color: white;
  margin: 10px 0 0 10px;
}

.hiraku-open-btn {
  display: none;
}

/*show for small screens */
@media screen and (max-width: 550px) { /* I've given 1023px but you can change to proper width */
  .hiraku-open-btn {
    display: block;
  }
}
