html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #2d609b;
}

@font-face {
  font-family: CurwenSans;
  src: url("/fonts/CurwenSans.ttf");
}

h1 {
  color: white;
  text-align: center;
  font-family: CurwenSans;
}

.name {
  margin-top: 180px;
  position: absolute;
  width: 100%;
}

.main-content {
  float: left;
  height: 600px;
  width: 100%;
  margin-top: 600px;
  padding: 10px 0 10px 0;
  background: #14496f;
  clear: both;
}

.work-sample {
  height: 170px;
  padding: 10px;
  background: #211a23;
  color: #666;
  font-weight: bold;
}

.owl-nav {
  top: 30%;
  width: 100%;
  background: #fff;
  padding: 0 40px 0 10px;
}

.owl-nav > .disabled {
  opacity: 0;
}

.owl-prev {
  float: left;
}

.owl-next {
  float: right;
  margin-right: 50px;
}

.owl-prev > span, .owl-next > span {
  position: absolute;
  top: 25%;
  font-size: 50px;
  color: #fff;
}

.hiraku-open-btn {
  display: none;
}

/*show for small screens */
@media screen and (max-width: 550px) { /* I've given 1023px but you can change to proper width */
  .hiraku-open-btn {
      display: block;
  }
}
