html, body {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

body {
  background-color: #2d609b;
}

@font-face {
  font-family: CurwenSans;
  src: url("/fonts/CurwenSans.ttf");
}

@font-face {
  font-family: OpenSans;
  src: url("/fonts/OpenSans.ttf");
}

@font-face {
  font-family: AudioWide;
  src: url("/fonts/AudioWide.ttf");
}

h1 {
  color: white;
  text-align: center;
  font-family: CurwenSans;
}

.name {
  margin-top: 50px;
  position: absolute;
  width: 100%;
}

.main-content {
  height: 1200px;
  width: 100%;
  margin-top: 500px;
  padding: 10px 0 10px 0;
  background-color: #103956;
  animation-name: color;
  animation-duration: 7.7s;
  animation-iteration-count: infinite;
}

@media screen and (max-width: 480px) {
  .main-content {
    height: 1500px;
  } 
}

@keyframes color {
  0% {
    background-color: #103956;
  }

  50% {
    /* background-color: #14496f */
    background-color:  #165079;
  }

  100% {
    background-color: #103956;
  }
}

.featured {
  font-family: OpenSans;
  font-size: 19px;
  font-weight: bold;
  color: white;
  margin: 10px 0 5px 10px;
}

.hiraku-open-btn {
  display: none;
}

/*show for small screens */
@media screen and (max-width: 550px) { /* I've given 1023px but you can change to proper width */
  .hiraku-open-btn {
    display: block;
  }
}
