.hiraku-header {
  background: transparent;
  height: 45px;
  padding: 10px;
  display: none; }
  @media only screen and (max-width: 480px) {
    .hiraku-header {
      display: block; } }

.main-nav {
  display: none; }

@media screen and (min-width: 480px) {
  .main-nav {
    display: block; } }
