* {
  box-sizing: border-box; }

.sample {
  transition: 450ms transform;
  font-size: 0;
  white-space: nowrap;
  margin: 46.875px 3px 0 3px;
  background: greenyellow; }

.tile {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 140.625px;
  font-size: 20px;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center left; }

.owl-carousel .sample {
  visibility: hidden; }

.owl-carousel .sample {
  visibility: visible; }

.owl-carousel:hover .sample {
  opacity: 0.4;
  transition: opacity .3s; }

.owl-carousel .sample:hover {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.2); }
