.sample {
  transition: 350ms transform;
  font-size: 0;
  white-space: nowrap;
  margin: 10px 1px 10px 1px;
  background: #211a23; }

.tile {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 140.625px;
  font-size: 20px;
  cursor: pointer;
  transition: 350ms all;
  transform-origin: center left; }
  .tile .title {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: CurwenSans; }

.tile.veev {
  background: #C8121E; }

.tile.tiptotem {
  background: #1babcc; }

.owl-carousel .sample {
  visibility: hidden; }

.owl-carousel .sample {
  visibility: visible; }

.owl-carousel:hover .sample {
  opacity: 0.50;
  transition: opacity .3s; }

.owl-carousel .sample:hover {
  opacity: 1;
  transition: 350ms transform;
  transform: scale(1.2);
  margin-right: 25px; }

.tile .down {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  font-size: 38px;
  color: white;
  visibility: hidden; }

.tile .down {
  visibility: hidden;
  opacity: 0; }

.tile:hover > .down {
  visibility: visible;
  opacity: 0.75;
  transition: opacity 1.5s; }
