.sample {
  transition: 350ms transform;
  font-size: 0;
  white-space: nowrap;
  margin: 10px 1px 10px 1px;
  background: #211a23; }

.tile {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 140.625px;
  cursor: pointer;
  transition: 350ms all;
  transform-origin: center left; }
  @media screen and (max-width: 480px) {
    .tile {
      width: 150px; } }
  .tile img {
    width: 50px !important;
    height: 50px !important;
    float: left;
    margin: 45px 0 0 30px; }
    @media screen and (max-width: 480px) {
      .tile img {
        width: 60px !important;
        height: 60px !important;
        margin-left: 45px; } }
  .tile .title {
    position: absolute;
    top: 40%;
    width: 100%;
    padding-left: 10px;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: CurwenSans; }
    @media screen and (max-width: 480px) {
      .tile .title {
        display: none; } }

.tile.veev {
  background: #C8121E; }

.tile.tiptotem {
  background: #1babcc; }

.tile.stackbuilders, .tile.ceiba {
  background: white; }
  .tile.stackbuilders .title, .tile.ceiba .title {
    color: black; }
  .tile.stackbuilders i, .tile.ceiba i {
    color: lightgray; }

.tile.upwork {
  background: #fffafa; }
  .tile.upwork .title {
    color: black; }
  .tile.upwork i {
    color: lightgray; }

.owl-carousel .sample {
  visibility: hidden; }

.owl-carousel .sample {
  visibility: visible; }

.owl-carousel:hover .sample {
  opacity: 0.50;
  transition: opacity .3s; }

.owl-carousel .sample:hover {
  opacity: 1;
  transition: 350ms transform;
  transform: scale(1.2);
  margin-right: 25px; }
  @media screen and (max-width: 480px) {
    .owl-carousel .sample:hover {
      margin-right: 15px; } }

.tile .down {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  font-size: 38px;
  color: white;
  visibility: hidden; }

.tile .down {
  visibility: hidden;
  opacity: 0; }

.tile:hover > .down {
  visibility: visible;
  opacity: 0.75;
  transition: opacity 1.5s; }
