.owl-carousel .owl-item {
  max-height: 240px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 28px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.container {
  width: 100%;
}

.left-element {
  display: inline-block;
  position: absolute;
  left: 0px;
  z-index: 100;
  margin: 60px 0 0 10px;
}

.center-element {
  display: inline-block;
  position: absolute;
  left: 0;
}

.right-element {
  display: inline-block;
  position: absolute;
  right: 0px;
  z-index: 100;
  margin: 60px 10px 0 0;
}


