.sampler {
  position: relative;
  top: 150px;
  height: 340px;
  background-color: transparent;
  background-image: linear-gradient(to left, #103956, #165079);
  opacity: 0.95;
  display: none;
  padding: 10px 2px 2px 2px; }
  @media only screen and (max-width: 768px) {
    .sampler {
      height: 390px; } }
  @media screen and (max-width: 480px) {
    .sampler {
      height: 590px; } }

.work-sample {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  margin-top: 5px;
  padding-left: 15px; }
  @media screen and (max-width: 480px) {
    .work-sample {
      height: 140%; } }
  .work-sample .summary {
    position: absolute;
    display: inline-block;
    max-width: 60%;
    height: auto;
    margin: 17px 0 0 15px;
    color: white;
    font-size: 14px;
    font-family: OpenSans;
    overflow-wrap: break-word; }
    @media only screen and (max-width: 768px) {
      .work-sample .summary {
        font-size: 12px; } }
    @media screen and (max-width: 480px) {
      .work-sample .summary {
        position: relative;
        float: left;
        margin: -5px 0 0 15px;
        max-width: 90%; } }
    .work-sample .summary p {
      padding: 3px;
      margin: 0px; }
    .work-sample .summary p.tech {
      margin-top: 13px;
      font-family: AudioWide; }
    .work-sample .summary a {
      color: white;
      text-decoration: underline; }
    .work-sample .summary i {
      margin: 0 5px 0 5px;
      font-size: 40px; }
      @media only screen and (max-width: 768px) {
        .work-sample .summary i {
          font-size: 35px; } }
      @media screen and (max-width: 480px) {
        .work-sample .summary i {
          font-size: 30px; } }

.iphone-container {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 170px;
  /* Small Devices, Tablets */
  padding: 2px;
  z-index: 100; }
  @media only screen and (max-width: 768px) {
    .iphone-container {
      width: 120px;
      height: 255px; } }

.iphone {
  position: relative;
  display: inline-block;
  background-image: url("/images/iphone_x.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  z-index: 20;
  overflow: hidden; }

.screenshot {
  position: absolute;
  width: 90%;
  height: 95%;
  top: 0;
  left: 0;
  margin: 6% 0 0 4%;
  z-index: 10;
  border-radius: 20px; }
  @media only screen and (max-width: 768px) {
    .screenshot {
      margin: 7px 0 0 2%;
      width: 110px;
      height: 225px; } }

.pull-left {
  margin-left: -60px;
  z-index: 120; }
  @media only screen and (max-width: 768px) {
    .pull-left {
      margin-left: -30px; } }

.desktop-container {
  position: relative;
  margin-top: -40px;
  display: inline-block;
  height: 100%;
  width: 370px; }
  @media screen and (max-width: 480px) {
    .desktop-container {
      margin-top: 20px;
      width: 370px;
      height: 370px; } }
  .desktop-container .desktop {
    position: relative;
    display: inline-block;
    background-image: url("/images/desktop.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    height: 100%;
    width: 100%;
    z-index: 20; }
  .desktop-container .screenshot-desktop {
    position: absolute;
    width: 272px;
    height: 170px;
    top: 80px;
    left: 50px;
    z-index: 10; }
