#social-container {
  height: 50px;
  width: 100%;
  text-align: center;
  margin-top: 50px; }
  #social-container .fab, #social-container .fas, #social-container .far {
    font-size: 40px;
    margin: 0 20px 0 20px;
    color: white; }
    @media screen and (max-width: 480px) {
      #social-container .fab, #social-container .fas, #social-container .far {
        font-size: 35px; } }

.name {
  margin-top: 50px;
  position: absolute;
  width: 100%; }
  .name .me {
    margin-top: -7px;
    font-size: 49px; }
    @media screen and (max-width: 480px) {
      .name .me {
        font-size: 23px; } }
  .name .role {
    font-size: 39px; }
    @media screen and (max-width: 480px) {
      .name .role {
        font-size: 18px; } }
