$duration: 450ms;
$tileWidth: 250px;
$tileHeight: ($tileWidth / (16/9));
$iconSize: 50px;
$growFactor: 1.2;// 1.5 times the original size

$moveLeft: -($tileWidth * ($growFactor - 1) / 2);
$moveRight: $tileWidth * ($growFactor - 1);

* { box-sizing: border-box }

.sample {
  transition: $duration transform;
  font-size: 0;
  white-space: nowrap;
  margin: ($tileHeight / 3) 3px 0 3px;
  background: greenyellow;
}

.tile {
  position: relative;
  display: inline-block;
  width: $tileWidth;
  height: $tileHeight;
  font-size: 20px;
  cursor: pointer;
  transition: $duration all;
  transform-origin: center left;
}

// HOVER EFFECTS, NEED TO BE IN THIS EXACT ORDER

.owl-carousel .sample {
	visibility: hidden;
}

.owl-carousel .sample {
	visibility: visible;
}

.owl-carousel:hover .sample {
  opacity: 0.5;
  transition: opacity .3s;
}

.owl-carousel .sample:hover {
  opacity: 1;
  transform: scale($growFactor);
}