$duration: 350ms;
$tileWidth: 250px;
$tileHeight: ($tileWidth / (16/9));
$growFactor: 1.13;// 1.3 times the original size

// $moveLeft: -($tileWidth * ($growFactor - 1) / 2);
// $moveRight: $tileWidth * ($growFactor - 1);
// * { box-sizing: border-box }

$cool-black: #211a23;

.sample {
  transition: $duration transform;
  font-size: 0;
  white-space: nowrap;
  // margin: ($tileHeight / 3) 3px 0 3px;
  // Change margin in order to make room for Growth
  margin: 10px 1px 10px 1px;
  background: $cool-black;
}

.tile {
  position: relative;
  display: inline-block;
  width: $tileWidth;
  height: $tileHeight;
  font-size: 20px;
  cursor: pointer;
  transition: $duration all;
  transform-origin: center left;
}

// HOVER EFFECTS, NEED TO BE IN THIS EXACT ORDER
.owl-carousel .sample {
	visibility: hidden;
}

.owl-carousel .sample {
	visibility: visible;
}

.owl-carousel:hover .sample {
  opacity: 0.65;
  transition: opacity .3s;
}

.owl-carousel .sample:hover {
  opacity: 1;
  transition: $duration transform;
  transform: scale($growFactor);
}