$duration: 350ms;
$tileWidth: 250px;
$tileHeight: ($tileWidth / (16/9));
$growFactor: 1.13;// 1.3 times the original size
$growFactor: 1.20;// 1.3 times the original size

// $moveLeft: -($tileWidth * ($growFactor - 1) / 2);
// $moveRight: $tileWidth * ($growFactor - 1);
// * { box-sizing: border-box }

$cool-black: #211a23;
$veev-red: #C8121E;
$tiptotem-blue: #1babcc;

.sample {
  transition: $duration transform;
  font-size: 0;
  white-space: nowrap;
  // Change margin in order to make room for Growth
  margin: 10px 1px 10px 1px;
  background: $cool-black;
}

.tile {
  position: relative;
  display: inline-block;
  width: $tileWidth;
  height: $tileHeight;
  cursor: pointer;
  transition: $duration all;
  transform-origin: center left;

  @media screen and (max-width: 480px) {
    width: $tileWidth * 0.6;
  }

  .title {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: CurwenSans;

    @media screen and (max-width: 480px) {
      font-size: 13px;
    }
  }
}

.tile.veev {
  background: $veev-red;
}

.tile.tiptotem {
  background: $tiptotem-blue;
}

// HOVER EFFECTS, NEED TO BE IN THIS EXACT ORDER
.owl-carousel .sample {
  visibility: hidden;
}

.owl-carousel .sample {
	visibility: visible;
}

.owl-carousel:hover .sample {
  opacity: 0.50;
  transition: opacity .3s;
}

.owl-carousel .sample:hover {
  opacity: 1;
  transition: $duration transform;
  transform: scale($growFactor);
  margin-right: 25px;

  @media screen and (max-width: 480px) {
    margin-right: 15px;
  }
}

// Show Arrow down when Hover over 
.tile .down {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  font-size: 38px;
  // font-weight: 100;
  color: white;
  visibility: hidden;
}

.tile .down {
  visibility: hidden;
  opacity: 0;
}

.tile:hover > .down {
  visibility: visible;
  opacity: 0.75;
  transition: opacity 1.5s;
}