$sampler_height: 345px;
$sampler_height-mobile: 600px;
$sampler_height-tablet: 390px;
$dynamic_width: $sampler_height / 2;
$desktop_width: 370px;
$desktop_screenshot: 170px;

.sampler {
  position: relative;
  top: 150px;
  height: $sampler_height;
  background-color: transparent;
  background-image: linear-gradient(to left, #103956, #165079);
  opacity: 0.95;
  // REQUIRED to perform Slide-Down
  display: none;
  padding: 10px 2px 2px 2px;


  @media only screen and (max-width : 768px) {
    height: $sampler_height-tablet;
  }

  @media screen and (max-width: 480px) {
    height: $sampler_height-mobile;
  }

  .dismiss {
    float: right;
    margin: 7px 10px 0 0;
    color: #bababa;
    opacity: 0.66;
    font-size: 25px;

    cursor: pointer;
  }
}

.work-sample {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  margin-top: 5px;
  padding-left: 15px;
  // border: 1px dashed greenyellow;

  @media screen and (max-width: 480px) {
    height: 140%;
  }

  .summary {
    position: absolute;
    display: inline-block;
    max-width: 60%;
    height: auto;
    margin: 17px 0 0 15px;
    color: white;
    font-size: 14px;
    font-family: OpenSans;
    overflow-wrap: break-word;
    // border: 1px dashed lightsalmon;

    a.title {
      text-decoration: none;
      font-size: 21px;
      margin-left: 3px;

      &:hover {
        text-decoration: underline;
      } 

      @media screen and (max-width: 480px) {
        font-size: 17px;
      }
    }  

    @media only screen and (max-width : 768px) {
      font-size: 12px;
    }

    @media screen and (max-width: 480px) {
      position: relative;
      float: left;
      margin: -5px 0 0 15px;
      // border: 1px dashed lightsalmon;
      max-width: 90%;
    }

    p {
      padding: 3px;
      margin: 0px;
    }

    p.tech {
      margin-top: 13px;
      font-family: AudioWide;
    }

    p.role {
      font-weight: bold;
      // color: #4dd16e;
      color: #28d252;
    }
    

    a {
      color: white;
      text-decoration: underline;
    }

    i {
      margin: 0 5px 0 5px;
      font-size: 40px;

      @media only screen and (max-width : 768px) {
        font-size: 35px;
      }

      @media screen and (max-width: 480px) {
        font-size: 30px;
      }
    }
  }
}

.iphone-container {
  position: relative;
  display: inline-block;
  height: 100%;
  width: $dynamic_width;

  /* Small Devices, Tablets */
  @media only screen and (max-width: 768px) {
    width: 120px;
    height: 255px;
  }

  padding: 2px;
  z-index: 100;
}

.iphone {
  position: relative;
  display: inline-block;
  background-image: url('/images/iphone_x.png');
  background-size: contain;
  background-repeat: no-repeat;

  height: 100%;
  width: 100%;
  z-index: 20;
  overflow: hidden;
}

.screenshot {
  position: absolute;
  width: 90%;
  height: 95%;
  top: 0;
  left: 0;
  margin: 6% 0 0 4%;
  z-index: 10;
  border-radius: 20px;

  @media only screen and (max-width : 768px) {
    margin: 7px 0 0 2%;
    width: 110px;
    height: 225px;
  }
}

.pull-left {
  margin-left: -60px;
  z-index: 120;
  @media only screen and (max-width : 768px) {
    margin-left: -30px;
  }
}

.desktop-container {
  position: relative;
  margin-top: -40px;
  display: inline-block;
  height: 100%;
  width: $desktop_width;

  @media screen and (max-width: 480px) {
    margin-top: -66px;
    margin-left: -15px;
    width: $desktop_width;
    height: $desktop_width;
  }

  .desktop {
    position: relative;
    display: inline-block;
    background-image: url('/images/desktop.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
  
    height: 100%;
    width: 100%;
    z-index: 20;
  }

  .screenshot-desktop {
    position: absolute;
    width: $desktop_screenshot * 1.6;
    height: $desktop_screenshot;
    top: 80px;
    left: 50px;
    z-index: 10;
  }
}
