#skills-main {
display: block;
width: 85%;
margin: 25px auto 0 auto;
padding: 5px;
font-family: OpenSans;
color: white;


  h4 {
    text-align: center;
    font-family: AudioWide;
    @media screen and (max-width: 480px) {
      font-size: 19px;
    }
  }
}

.title > i {
  font-size: 23px;
}

.divider {
  width: 100%;
  margin-top: 205px;
  display: block;
  height: 1px;
  background-color: #A7AfB2;
  opacity: 0.35;
}