#social-container {
  height: 50px;
  width: 100%;
  text-align: center;
  margin-top: 50px;

  .fab, .fas, .far {
    font-size: 40px;
    margin: 0 20px 0 20px;
    color: white;

    @media screen and (max-width: 480px) {
      font-size: 35px;
    }
  }
}

.name {
  margin-top: 50px;
  position: absolute;
  width: 100%;

  .me {
    margin-top: -7px;
    font-size: 49px;

    @media screen and (max-width: 480px) {
      font-size: 23px;
    }
  }

  .role {
    font-size: 39px;

    @media screen and (max-width: 480px) {
      font-size: 18px;
    }
  }
}